.client-logo img{
	width:85px;
}
.heading-title{
	margin-bottom: 40px;
    text-transform: captialize;
    font-size: 24px;
    color: #181818;
    font-weight: bold;
    font-family: 'Montserrat';
    letter-spacing: 0px;
}
.heading-title-about{
	margin-bottom: 20px;
	text-transform: captialize;
    font-size: 24px;
    color: #ffff;
    font-weight: bold;
    font-family: 'Montserrat';
    letter-spacing: 2px;
}
.heading-title-critical{
	margin-bottom: 30px;
	text-transform: captialize;
    font-size: 24px;
    color: black;
    font-weight: bold;
    font-family: 'Montserrat';
    letter-spacing: 2px;
}
.col-lg-2.col-md-2.bot {
    border-right: 1px solid #7070704a;
    border-bottom: 1px solid #7070704a;
    padding: 25px 15px 15px 40px;
}
section.feature-section-two{
    background: linear-gradient(to right, #148BBC, #0AE5B9 );
	padding: 40px 0px 70px 0px;
}
.about-title{
	background: white;
    border-radius: 10px;
    color: black;
    font-family: 'Montserrat';
    height: 100px;
    text-align: center;
    padding: 30px 0px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}
section.why-choose-us {
    padding: 40px 0px 40px 0px;
    background: #f5f5f5;
}
.col-lg-4.col-md-12.offer {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-right: -10px;
    width: 33%;
}
.critical-title {
    font-family: 'Montserrat';
    font-size: 22px;
    color: black;
    text-transform: captialize;
	font-weight:bold;
}
.critical-content p {
    font-family: 'Montserrat';
    font-size: 12px;
    text-align: justify;
    margin-top: 10px;
    color: black;
}
section.testimonials {
    background: linear-gradient(to right, #AC56CC, #54A6C6 );
    padding: 40px 0px 70px 0px;
}
section.newsletter {
    background: #efefef;
	border-top: 1px solid #c0c0c0;
    padding: 30px 0px 30px 0px;
}
.testimonial-image {
    float: left;
	margin-right: 20px;
}
.testimonial-title{
	font-family: 'Montserrat';
	color:white;
	font-size: 20px;
    font-weight: bold;
}
.testimonial-designnation{
	font-family: 'Montserrat';
	color:white;
	font-size: 13px;
}
.testimonial-star{
	font-family: 'Montserrat';
	color:white;
	margin-left:69px;
}
.testimonial-content{
	font-family: 'Montserrat';
	color:white;
	font-size: 13px;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0ch;
}

.comment {
    padding: 20px
}

.info {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #fff
}

.bg-blue {
    background: blue;
    border: 1px solid blue
}

.bg-red {
    background: #F44336;
    border: 1px solid #F44336
}

.bg-orange {
    background: #FFA000;
    border: 1px solid #FFA000
}

.info img {
    position: relative;
    height: auto;
    top: -36px !important
}
footer.footer-section {
    background: #efefef;
	border-top: 1px solid white;
}
input.btn.btn-primary.mt-3.mt-lg-0.mt-md-0 {
    height: 32px;
    font-size: 13px;
    border-radius: 50px;
    line-height: 10px;
	background: #0166ec;
    border: #0166ec;
	padding:0px 20px;
	font-family: 'Montserrat';
	box-shadow: none;
}
input, input::-webkit-input-placeholder {
    font-size: 11px !important;
	font-family: 'Montserrat';
}
.center-title{
	color:#1cb68e !important;
	font-family: 'Montserrat';
}
.bg-green{
	background:#1cb68e;
	font-family: 'Montserrat';
}
.career-title{
	color: #181818;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
	margin-bottom: 7px;
}
.career-designation{
	color:#505050;
	font-family: 'Montserrat';
	font-size:18px;
	margin-bottom: 7px;
}
.career-content{
	color: #181818;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 27px;
    text-align: left;
}
.full-description a {
    color: #505050;
    float: right;
	font-weight: 600;
	font-size:18px;
	margin-top:12px;
}
.col-md-4.col-lg-4.career-bg {
    background: white;
    border-radius: 10px;
    padding: 25px 20px 25px 20px;
    width: 32%;
    margin-right: 12px;
	margin-bottom:30px;
	box-shadow: 0 0 10px #00000029;
}
.job-overview-wrap {
    padding-left: 70px;
}
section.career-background {
    background: #F8F7F8;
	padding:123px;
}
h6.title-h6 {
	font-family: 'Montserrat';
	text-align:center;
	font-weight: normal;
}
h3.title-h3 {
	font-family: 'Montserrat';
	text-align:center;
	font-size: 34px;
	margin-bottom:15px;
}
.refer {
    float: left;
    border: 1px solid grey;
    border-radius: 25px;
    font-family: 'Montserrat';
    background: white;
    padding: 0px 10px;
	margin-right: 20px;
}
span.apply{
	background: #0070f5;
    padding: 7px 20px;
    color: white;
    border-radius: 20px;
}
.apply{
	background: #0070f5;
    padding: 7px 20px;
    color: white;
    border-radius: 20px;
	text-align:center;
	width:30%;
	margin:0px auto;
}
.col-lg-6.left-align {
    margin-left: 70px;
}
p.bottom {
    margin-bottom: 60px;
	font-size: 18px;
}
h4.job-title {
    font-size: 22px;
    margin-bottom: 10px;
}
p.education {
    color: #0070F5;
    font-weight: bold;
    font-size: 22px;
	font-family: 'Montserrat';
	margin-top:25px;
}
p.education1 {
    color: #0070F5;
    font-weight: bold;
    font-size: 22px;
	font-family: 'Montserrat';
}
span.add {
    color: #0070F5;
	font-family: 'Montserrat';
}
.input-group.mb-3.file {
    background: rgb(249 249 249);
    padding: 10px 10px 10px 10px;
    border: 2px dashed #707070;
	border-radius:5px;
}
.row.culture{
	background: white;
    border-radius: 20px;
    padding: 40px 20px 0px 40px;
}
.culture-img img {
    max-width: 100%;
}
.culture-title h1 {
    font-size: 60px;
    font-family: 'Montserrat';
    padding: 68px;
}
.culture-title1 h1 {
    font-size: 48px;
    font-family: 'Montserrat';
    padding: 100px 80px 145px 50px;
}
.culture-title2 h1 {
    font-size: 48px;
    font-family: 'Montserrat';
    padding: 130px 70px 20px 70px;
}
input.input-newsletter.form-control.me-2 {
    border: none !important;
}
.our-integration .rounded-custom {
    border-radius: 20px !important;
}
.overview-item h6.mb-0 {
    font-size: 18px;
	margin-top: 8px;
}
form.register-form {
    margin-top: 40px;
}
p.upload {
    font-size: 18px;
    font-family: 'Montserrat';
}
p.upload-file {
    border: 2px dashed #707070;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}
a.cancel {
    margin-left: 50%;
    margin-right: 30px;
    text-decoration: none;
    color: rgb(208 67 59);
    font-weight: bold;
}
button.apply {
    background: #0070f5;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin: 0px auto;
    border: none;
    font-size: 14px;
    padding: 5px 20px;
    margin: 0px;
    width: auto;
}
.benefit-title h6 {
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat';
    width: 70%;
    margin: 0px auto;
	line-height:32px;
}
.benefit-icon {
    text-align: center;
    margin-bottom: 20px;
}
.col-lg-4.benefits {
    background: white;
    border-radius: 5px;
    padding: 60px;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

@media screen and (max-width: 767px) {
.text-start {
    text-align: left !important;
    margin-top: 20px;
}
.dropdown-menu {
	top:0px !important;
}
.col-md-4.col-lg-4.career-bg {
    background: white;
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    margin-bottom: 20px;
	box-shadow: 0 0 10px #00000029;
}
section.career-background {
    background: #F8F7F8;
    padding: 20px;
}
.job-overview-wrap {
    padding-left: 0px;
    margin-top: 40px;
}
p.upload-file {
    border: 2px dashed #707070;
    padding: 8px;
    border-radius: 10px;
}
a.cancel {
    margin-left: 10%;
    margin-right: 30px;
    text-decoration: none;
    color: rgb(208 67 59);
    font-weight: bold;
}
.culture-title h1 {
    font-size: 36px;
    font-family: 'Montserrat';
    padding: 36px;
}
.culture-title2 h1 {
    font-size: 36px;
    font-family: 'Montserrat';
    padding: 36px;
}
.culture-title1 h1 {
    font-size: 36px;
    font-family: 'Montserrat';
    padding: 36px;
}
.apply {
    background: #0070f5;
    padding: 7px 20px;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 30px;
}
}

@media (min-width: 768px) and (max-width: 1023px){
.col-md-4.col-lg-4.career-bg {
    background: white;
    border-radius: 10px;
    padding: 25px;
    width: 48%;
    margin-bottom: 20px;
	box-shadow: 0 0 10px #00000029;
}
}

@media (min-width: 1600px) {
  /* line 575, src/assets/scss/vendors/bootstrap.min.css */
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px;
  }
  .col-lg-6.left-align {
    margin-left: 160px;
}
.culture-title h1 {
    font-size: 60px;
    font-family: 'Montserrat';
    padding: 135px;
}
.culture-title1 h1 {
    font-size: 60px;
    font-family: 'Montserrat';
    padding: 254px 100px 145px 110px;
}
.culture-title2 h1 {
    font-size: 60px;
    font-family: 'Montserrat';
    padding: 200px 150px 20px 150px;
}
}